@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	max-width: 1200px;
	margin: 0px auto;
}
html, body {
	height: 100%;
}
body {
	background-color: #fefefe;
	font-family: "Noto Sans";
	font-size: 1rem;
	line-height: 1.2rem;
	color: #666666;
}
#__next {
	height: 100%;
}

/*BEM Blocks ==========================================*/

.title {
	font-size: 1.2rem;
	font-weight: 700;
	color: #333333;
	margin-bottom: 15px;
}

.default-body {
	padding: 15px;
	border: dashed #c3c3c3 1px;
	margin: 15px 0px;
	box-shadow: -2px 2px 4px 0px #bbb;
}

a:hover, .link:hover {
	color: #999999;
}

a:active, .link:active {
	position: relative;
	top: 1px;
	color: #333333;
}